@font-face {
  font-family: Montserrat;
  src: url(/font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/font/Poppins-Regular.ttf);
}
@font-face {
  font-family: Inter;
  src: url(/font/Inter-VariableFont_opsz\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* commom elements */
ul {
  list-style: none;
  display: inline-block;
}
a {
  display: inline-block;
  text-decoration: none;

}
li{
    display: inline-block;

}
img {
  width: 100%;
  height: 100%;
  /* object-fit: contain; */
  /* overflow: hidden; */
  
}
/* @keyframes picAnimation {
    from {
        transform: scale(0.9);
    }
    to{
        transform: scale(1.0);
    }
}
img:hover{
  animation: picAnimation 0.5s linear forwards;
} */
.b{
    border: 2px solid red;
}
body{
  font-family: "Poppins", sans-serif;
  font-weight: 100;
  font-style: normal;
  color: aliceblue;
  background: radial-gradient(circle at top, #2b0a4d, #12001f);
}


/* coomom class */
.container {
  max-width: 1531px;
  width: 100%;
  margin: 0 auto;
  /* padding: 0 15px; */

}
.section-padding {
  padding-top: 30px;
} 

.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin:0 auto;
    
}
.col{
    padding:0px -15px;
}
.col-50{
    width: 50%;
    flex: 0 0 50%;
    padding: 10px;
}
.col-25{
    width: 25%;
    flex: 0 0 25%;
    padding: 10px;

}
.dropdown-menu{
   background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 14px;
  border: 1px solid white;
  padding: 10px 0px;
}
.dropdown-menu a{
  padding-left: 40px;
}
.dropdown-menu a:hover{
  background-color: transparent;
}

/* topbar */
.nav-color {
  background-color: #1c002d;
   height: 43px;
}
.nav-color a {
  font-size: 14px;
  font-family: Poppins, "SemiBold";
}
/* banner */
.eventra-navbar {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 24px;
  padding: 10px 30px;
  height: 76px;
  width: 100%;
  border: 1px solid white;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 22px;
}

.navbar-brand span {
  color: #fff;
}

.nav-link {
  color: #e8e8e8 !important;
  font-weight: 500;
  margin: 0 8px;
}

.nav-link:hover {
  border-bottom: 1px solid #0bcaee;
}

.nav-icons a {
  color: #fff;
  font-size: 20px;
  margin-left: 18px;
  cursor: pointer;
  width: 20.79px;
}

/* .banner {
      min-height: 991px;
      background: 
        linear-gradient(to right, rgba(60,0,90,0.85), rgba(0,0,0,0.3)),
        url("/images/banner.png") center/cover no-repeat;
      color: #fff;
      display: flex;
      align-items: center;
    } */

/* topbar-end */

.banner {
  position: relative;
  min-height: 689px;
  background: url("../images/Frame\ 464.png") center / cover no-repeat;
  
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
}
.nav-color2 {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 24px;
  color: #e8e8e8;
  height: 76px;
}
.navbar-brand {
  font-size: 30px;
}
.nav-color2 a {
  color: #e8e8e8;
  font-size: 16px;
  font-family: Poppins, "SemiBold";
}
.hoichoi-img {
  height: 65px;
  width: 198px;
  margin-top: 160px;
}
.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content h1 {
  font-size: 96px;
  font-weight: 500;
  margin: 0;
  font-family: Montserrat, "ExtraBold";
  color: white;
  opacity: 0.9;
  padding-top: 160px;
}

.banner-content a {
  font-size: 16px;
  font-family: Poppins, "SemiBold";
  color: white;
  opacity: 0.85;
  position: absolute;
  left: 40px;
  padding-top: 20px;
}
/* banner-end */
/* FAQ */
/* GLASS */
.glass {
    background: rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(14px);
    border: 1px solid rgba(255, 255, 255, 0.15);
    border-radius: 18px;
}


/* INFO */
.info-section {
    padding: 80px 0 40px;
}

.info-card {
    padding: 24px;
    height: 100%;
}

.info-card i {
    font-size: 22px;
    margin-bottom: 10px;
    color: #b56cff;
}

/* CONTACT */
.contact-section {
    padding: 80px 0;
}

.chat-card {
    padding: 28px;
    background: radial-gradient(circle at top right,#8A38F580, #1E1E1E80);
    border: 1px solid #8A38F5;
    border-radius: 30px;
}

.chat-card i {
    font-size: 30px;
    margin-bottom: 12px;
}

.model-img {
    
    height: 750px;
    width:450px;
}

.contact-form {
    padding: 32px;
}
.contact-form h3{
    font-size: 54px;
    font-family: Montserrat, "SemiBold";
    margin-top: 20px;
}

.contact-form .form-control {
    background: #1c002d;
    border: 1px solid #6d2aa6;
    color: #fff;
}

.contact-form .form-control::placeholder {
    color: #aaa;
}

.btn-glow {
    background: #00c2ff;
    color: #000;
    border-radius: 22px;
    padding: 10px 28px;
    box-shadow: 0 0 18px rgba(0, 194, 255, .6);
}

/* MAP */
.map iframe {
    width: 100%;
    height: 420px;
    border: 0;
}

/* footer */
.footer {
  background: #070417;
  color: #fff;
}
.footer-logo{
  width: 286px;
  height: 120px;
}
.footer h2 {
  font-size: 36px;
  font-family: Montserrat, "SemiBold";
  color: #ffffffe5;
}
.footer p {
  font-size: 16px;
  font-family: Poppins, "Medium";
  color: #e8e7ea;
}
.footer h5{
  font-size: 24px;
   font-family: Montserrat, "SemiBold";
   color: #ffffffe5;
  padding-left: 500px;
}
.footer h6 {
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat, "Bold";
  background: linear-gradient(#FF52C0,#8EF1F0);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.footer small{
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 500px;
}
.footer a {
  color: #e8e7ea;
  text-decoration: none;
  font-size: 16px;
  font-family: Poppins, "Medium";
}
.footer a:hover {
  color: #FF52C0;
}
.subscribe-input {
  padding: 16px 32px;
  background: transparent;
  border-radius: 16px;
  width: 349px;
}
.subscribe-input::placeholder {
  color: white;
  padding-left: 20px;
}

.subscribe-btn {
  border-radius: 30px;
  padding: 16px 32px;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  border: none;
  color: #fff;
  font-size: 14px;
   font-family: Poppins, "SemiBold";
}
.social-icons a {
  font-size: 20px;
  margin-right: 12px;
  color: #fff;
}
.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  margin-right: 30px;
}
/* footer-end */
@media screen  and (max-width:767px){
   .footer h5{
  padding-left: 50px;
}
.footer small{
  margin-left: 50px;
}
}