
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
.container{
    max-width: 1516px;
    width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}
.login-img img{
    width: 100%;
    height: 428px;
    object-fit: cover;
    
}
.login-id{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(135deg, #ff512f, #dd2476);; */
}
body {
    min-height: 100vh;
    font-family: "Montserrat", sans-serif;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background:linear-gradient(135deg, #0f0c29, #1e1d2e, #24243e);
}

/* Login Card */
.login-box {
    /* width: 380px; */
    padding: 30px;
    /* border-radius: 12px; */
    background: #180F2C;
    color: #fff;
}

/* Heading */
.login-box h2 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: semi-bold;
    font-size: 25px;
     
}

.login-box h1 {
    margin-bottom: 5px;
    font-weight: bold;
     font-size: 30px;
}

.login-box p {
    font-size: 14px;
    color: #cfcfcf;
    margin-bottom: 25px;
}

/* Input Groups */
.input-group {
    margin-bottom: 18px;
}

.input-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 6px;
}

.input-group input {
    width: 100%;
    padding: 12px 15px;
    border-radius: 8px;
    border: 1px solid #ffffff40;
    background: transparent;
    color: #fff;
    outline: none;
}

.input-group input::placeholder {
    color: #cccccc;
}

/* Options */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    margin-bottom: 20px;
}

.options a {
    color: #ebe9ee;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

/* Button */
.btn {
    width: 100%;
    padding: 12px;
    border:none;
    border-radius: 8px;
    background: #3B085A;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    z-index: 0;
    opacity: 0.9;
    box-shadow: 0px 0px 15px rgba(168, 60, 230, 0.5);
}
.btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 105%;
    border-radius: 8px;
    background-image: linear-gradient(to the bottom,#A83CE6,#FF52C0,#FFC3E9);
    z-index: -1;
}



@media (max-width: 576px) {
.login-box {
    /* width: 380px; */
    padding: 30px;
    /* border-radius: 12px; */
    background: #180F2C;
    color: #fff;
}

/* Heading */
.login-box h2 {
    text-align: center;
    margin-bottom: 10px;
    font-weight: semi-bold;
    font-size: 20px;
     
}

.login-box h1 {
    margin-bottom: 5px;
    font-weight: bold;
     font-size: 25px;
}

.login-box p {
    font-size: 10px;
    color: #cfcfcf;
    margin-bottom: 25px;
}

/* Input Groups */
.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    font-size: 10px;
    margin-bottom: 6px;
}

.input-group input {
    width: 100%;
    padding: 8px 10px;
    border-radius: 8px;
    border: 1px solid #ffffff40;
    background: transparent;
    color: #fff;
    outline: none;
}

.input-group input::placeholder {
    color: #cccccc;
}

/* Options */
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 10px;
    margin-bottom: 20px;
}

.options a {
    color: #ebe9ee;
    text-decoration: none;
}

.options a:hover {
    text-decoration: underline;
}

/* Button */
.btn {
    width: 100%;
    padding: 10px;
    border:none;
    border-radius: 8px;
    background: #3B085A;
    color: #fff;
    font-size: 12px;
    cursor: pointer;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn:hover {
    z-index: 0;
    opacity: 0.9;
    box-shadow: 0px 0px 15px rgba(168, 60, 230, 0.5);
}
.btn::after{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 110%;
    height: 105%;
    border-radius: 8px;
    background-image: linear-gradient(to the bottom,#A83CE6,#FF52C0,#FFC3E9);
    z-index: -1;
}
.login-img img{
    width: 100%;
    height: 376px;
    object-fit: cover;
    
}

}