@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(135deg, #0f0c29, #302b63, #24243e);
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  width: 900px;
  min-height: 560px;
  display: flex;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.5);
}

/* Left Image */
.image-section {
  width: 45%;
  background-image: url('../images/registration\ .png');
  overflow: hidden;
  object-fit: contain;
  background-repeat: no-repeat;
}

/* Right Form */
.form-section {
  width: 55%;
  background: rgba(20, 16, 45, 0.95);
  padding: 40px;
  color: #fff;
}

.small-title {
  font-size: 20px;
  color:white;
  margin-bottom: 5px;
  text-align: center;
  font-weight: 600;
}

.form-section h2 {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 35px;
}

label {
  display: block;
  font-size: 13px;
  margin-bottom: 6px;
  color: #cfcfe6;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 12px;
  margin-bottom: 18px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  color: #fff;
  outline: none;
}

input::placeholder {
  color: #aaa;
}

input:focus {
  border-color: #7f7cff;
  box-shadow: 0 0 6px rgba(127, 124, 255, 0.6);
}

.terms {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  margin-bottom: 20px;
  color: #cfcfe6;
}

button {
  width: 100%;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(90deg, #6a5af9, #7f7cff);
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  opacity: 0.9;
}

.login-text {
  margin-top: 18px;
  font-size: 12px;
  color: #cfcfe6;
  text-align: center;
}

.login-text a {
  color: #7f7cff;
  text-decoration: none;
}

.login-text a:hover {
  text-decoration: underline;
}
@media (max-width: 992px) {
/* Right Form */
.form-section {
   padding: 30px;
}

  .small-title {
  font-size: 15px;
}

.form-section h2 {
  margin-bottom: 25px;
  font-weight: bold;
  font-size: 30px;
}

label {
   font-size: 10px;
 }

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 6px;
  color: #fff;
  outline: none;
}
.terms {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 10px;
  margin-bottom: 15px;
  color: #cfcfe6;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(90deg, #6a5af9, #7f7cff);
  color: #fff;
  font-size: 10px;
  cursor: pointer;
  transition: 0.3s;
}

.login-text {
  margin-top: 15px;
  font-size: 10px;
}
}

