@font-face {
  font-family: Montserrat;
  src: url(/font/Montserrat-VariableFont_wght.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/font/Poppins-SemiBold.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/font/Poppins-Medium.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/font/Poppins-Regular.ttf);
}
@font-face {
  font-family: Poppins;
  src: url(/font/Poppins-Bold.ttf);
}
@font-face {
  font-family: Inter;
  src: url(/font/Inter-VariableFont_opsz\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* commom elements */
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* coomom class */
.container {
  max-width: 1531px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.section-padding {
  padding-top: 20px;
}
.section-padding2 {
  padding-top: 69px;
  padding-bottom: 69px;
}
.section-padding3 {
  padding-top: 100px;
  padding-bottom: 100px;
}
/* topbar */
.nav-color {
  background-color: #1c002d;
   height: 43px;
}
.nav-color a {
  font-size: 14px;
  font-family: Poppins, "SemiBold";
}
/* banner */
.eventra-navbar {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 24px;
  padding: 10px 30px;
  height: 76px;
  width: 100%;
  border: 1px solid white;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 22px;
}

.navbar-brand span {
  color: #fff;
}

.nav-link {
  color: #e8e8e8 !important;
  font-weight: 500;
  margin: 0 8px;
}

.nav-link:hover {
  border-bottom: 1px solid white;
}

.nav-icons a {
  color: #fff;
  font-size: 20px;
  margin-left: 18px;
  cursor: pointer;
  width: 20.79px;
}
.dropdown-menu{
   background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 14px;
  border: 1px solid white;
  padding: 10px 0px;
}
.dropdown-menu a{
  padding-left: 40px;
}
.dropdown-menu a:hover{
  background-color: transparent;
}
/* .banner {
      min-height: 991px;
      background: 
        linear-gradient(to right, rgba(60,0,90,0.85), rgba(0,0,0,0.3)),
        url("/images/banner.png") center/cover no-repeat;
      color: #fff;
      display: flex;
      align-items: center;
    } */

/* topbar-end */

.banner {
  position: relative;
  min-height: 689px;
  background: url("../images/concer-details-banner.jpg") center / cover no-repeat;
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
}
.nav-color2 {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 24px;
  color: #e8e8e8;
  height: 76px;
}
.navbar-brand {
  font-size: 30px;
  
}
.nav-color2 a {
  color: #e8e8e8;
  font-size: 16px;
  font-family: Poppins, "SemiBold";
}
.hoichoi-img {
  height: 65px;
  width: 198px;
  margin-top: 160px;
}
.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content h2 {
  font-size: 80px;
  font-weight: 500;
  font-family: Montserrat, "ExtraBold";
  color: white;
  opacity: 0.9;
  padding-top: 180px;
}

.banner-content a {
  font-size: 16px;
  font-family: Poppins, "SemiBold";
  color: white;
  opacity: 0.85;
  position: absolute;
  left: 40px;
  padding-top: 20px;
}


 /* banner-end */
 /* standup-detail */
 .concert-details{
  background-color: #180F2C;
}
.concert-card {
      background: transparent;
      border-radius: 30px;
      border: 1px solid #222;
      color: #fff;
      overflow: hidden;
    }

    .tag {
      font-size: 20px;
      letter-spacing: 4px;
      color: #aaa;
      margin-bottom: 10px;
      font-family: Poppins,"Regular";
    }
   .concert-details h2{
    font-size: 30px;
    font-family: Montserrat,"Bold";
    color: white;
   }
    .date-pill {
      background: linear-gradient(135deg, #8f2cff, #d84cff);
      color: #fff;
      border-radius: 30px;
      padding: 10px 18px;
      font-weight: 600;
      display: inline-flex;
      align-items: center;
      gap: 10px;
      font-family: Poppins,"Bold";
      font-size: 24px;
    }

    .venue-pill {
      border: 1px solid #555;
      color: #fff;
      border-radius: 30px;
      padding: 10px 22px;
      font-weight: 500;
       font-family: Poppins,"Bold";
      font-size: 24px;
    }

    .concert-text {
      color: #bdbdbd;
      line-height: 1.7;
      font-size: 16px;
      font-family: Poppins,"Regular";
    }

    .concert-img {
      width: 653px;
      height: 457px;
      object-fit: cover;
      border-radius: 30px;
    }

    @media(max-width:991px){
      .concert-img {
        border-radius: 0 0 30px 30px;
      }
    }
    .artist-section{
    padding:60px 0;
  }

  .artist-title{
    font-size:30px;
    font-weight:700;
    margin-bottom:30px;
    font-family: Poppins,"SemiBold";
  }

  .artist-img{
    width:304px;
    height:304px;
    border-radius:50%;
    object-fit:cover;
    box-shadow:0 0 40px rgba(255,120,120,0.35);
  }

  .artist-name{
    font-size:30px;
    font-weight:700;
    margin-top:25px;
    font-family: Poppins,"SemiBold";
  }
 
/* standup-detail-end */
/* next */
.get-ticket{
  background-image: url(../images/get-ticket-img.jpg);
  min-height: 336px;
  background-size: cover;
  background-repeat: no-repeat;
}
/* CTA SECTION */
.cta-section{
  padding:80px 0;
  text-align:center;
}

/* OUTLINE TEXT */
.cta-title{
  font-size:86px;
  font-weight:800;
  letter-spacing:4px;
  color:transparent;
  -webkit-text-stroke:1.5px #fff;
  margin-bottom:50px;
  font-family: Montserrat,"SemiBold";
  margin-left: 160px;
}

/* BUTTON */
.cta-btn{
  background:#1ec9ff;
  color:#fff;
  padding:16px 40px;
  border-radius:40px;
  font-size:18px;
  font-weight:600;
  border:none;
  box-shadow:
    0 0 20px rgba(30,201,255,0.8),
    0 0 40px rgba(30,201,255,0.6),
    0 0 80px rgba(30,201,255,0.4);
  transition:0.3s ease;
   font-family: Montserrat,"SemiBold";
   margin-left: 700px;
}

.cta-btn:hover{
  transform:scale(1.05);
  box-shadow:
    0 0 30px rgba(30,201,255,1),
    0 0 60px rgba(30,201,255,0.8),
    0 0 100px rgba(30,201,255,0.6);
}
/* next-end */
/* footer */
.footer {
  background: #070417;
  color: #fff;
}
.footer-logo {
  width: 286px;
  height: 120px;
}
.footer h2 {
  font-size: 36px;
  font-family: Montserrat, "SemiBold";
  color: #ffffffe5;
}
.footer p {
  font-size: 16px;
  font-family: Poppins, "Medium";
  color: #e8e7ea;
}
.footer h5 {
  font-size: 24px;
  font-family: Montserrat, "SemiBold";
  color: #ffffffe5;
  margin-left: 500px;
}
.footer h6 {
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat, "Bold";
  background: linear-gradient(#ff52c0, #8ef1f0);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.footer small {
  font-size: 16px;
  color: #ffffff;
  margin-left: 500px;
}
.footer a {
  color: #e8e7ea;
  text-decoration: none;
  font-size: 16px;
  font-family: Poppins, "Medium";
}
.footer a:hover {
  color: #ff52c0;
}
.subscribe-input {
  padding: 16px 32px;
  background: transparent;
  border-radius: 16px;
  width: 349px;
}
.subscribe-input::placeholder {
  color: white;
  padding-left: 20px;
}

.subscribe-btn {
  border-radius: 30px;
  padding: 16px 32px;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  border: none;
  color: #fff;
  font-size: 14px;
  font-family: Poppins, "SemiBold";
}
.social-icons a {
  font-size: 20px;
  margin-right: 12px;
  color: #fff;
}
.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
}
/* footer-end */
@media screen  and (max-width:767px){
   .footer h5{
  padding-left: 50px;
}
.footer small{
  margin-left: 50px;
}
}