/* font family link */

@font-face {
  /* Montserrat */
  font-family: Montserrat;
  src: url(/font/Montserrat-VariableFont_wght.ttf);
}

@font-face {
  /* Poppins */
  font-family: Poppins;
  src: url(/font/Poppins-Regular.ttf);
}

@font-face {
  /* Inter */
  font-family: Inter;
  src: url(/font/Inter-VariableFont_opsz\,wght.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #1b0831;
}

/* commom elements */
ul {
  list-style: none;
}
a {
  display: inline-block;
  text-decoration: none;
}
img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
@keyframes picAnimation {
    from {
        transform: scale(0.9);
    }
    to{
        transform: scale(1.0);
    }
}
img:hover{
  animation: picAnimation 0.5s linear forwards;
}

/* heading */
h1 {
  font-family: Montserrat;
  font-size: 90px;
  font-weight: normal;
}
h2 {
  font-family: Poppins;
  font-size: 64px;
  font-weight: normal;
}
h3 {
  font-family: Poppins;
  font-size: 48px;
  font-weight: bold;
}

/* common class */
.container {
  max-width: 1530px;
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
.section-padding {
  padding-top: 65px;
  padding-bottom: 90px;
}

figure {
  padding: 0;
  margin: 0;
}

html {
  overflow-x: hidden;
}

.dropdown-menu{
   background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 14px;
  border: 1px solid white;
  padding: 10px 0px;
}
.dropdown-menu a{
  padding-left: 40px;
}
.dropdown-menu a:hover{
  background-color: transparent;
}


/* topbar */
.nav-color {
  background-color: #1c002d;
   height: 43px;
}
.nav-color a {
  font-size: 14px;
  font-family: Poppins, "SemiBold";
}
/* banner */
.eventra-navbar {
  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);
  border-radius: 24px;
  padding: 10px 30px;
  height: 76px;
  width: 100%;
  border: 1px solid white;
}

.navbar-brand {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 22px;
}

.navbar-brand span {
  color: #fff;
}

.nav-link {
  color: #e8e8e8 !important;
  font-weight: 500;
  margin: 0 8px;
}

.nav-link:hover {
  border-bottom: 1px solid #0bcaee;
}

.nav-icons a {
  color: #fff;
  font-size: 20px;
  margin-left: 18px;
  cursor: pointer;
  width: 20.79px;
}

/* .banner {
      min-height: 991px;
      background: 
        linear-gradient(to right, rgba(60,0,90,0.85), rgba(0,0,0,0.3)),
        url("/images/banner.png") center/cover no-repeat;
      color: #fff;
      display: flex;
      align-items: center;
    } */

/* topbar-end */

.banner {
  position: relative;
  min-height: 689px;
  background: url("../images/aparupa/banner.png") center / cover no-repeat;
  
}
.banner::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  backdrop-filter: blur(2px);
}
.nav-color2 {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 24px;
  color: #e8e8e8;
  height: 76px;
}
.navbar-brand {
  font-size: 30px;
}
.nav-color2 a {
  color: #e8e8e8;
  font-size: 16px;
  font-family: Poppins, "SemiBold";
}
.hoichoi-img {
  height: 65px;
  width: 198px;
  margin-top: 160px;
}
.banner-content {
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner-content h1 {
  font-size: 96px;
  font-weight: 500;
  margin: 0;
  font-family: Montserrat, "ExtraBold";
  color: white;
  opacity: 0.9;
  padding-top: 160px;
}

.banner-content a {
  font-size: 16px;
  font-family: Poppins, "SemiBold";
  color: white;
  opacity: 0.85;
  position: absolute;
  left: 40px;
  padding-top: 20px;
}
/* banner-end */


/* venue details part */

.venue-details h2 {
  margin-bottom: 85px;
}

.location-left-part figure {
  width: 415px;
  margin-top: 35px;
}

.location_details {
  font-family: Poppins;
  font-size: 32px;
  font-weight: normal;
  list-style: disc;
  line-height: 1.6;
}

.map {
  margin-top: 200px;
}

/* explore img part */

.click-part-1 h2 {
  text-align: center;
  margin-bottom: 130px;
  color: white;
}

.mid-img {
  height: 365px;
  /* border-radius: 35px; */
  overflow: hidden;
}
.mid-img img {
  border-radius: 28px;
}

/* secound-venue-details */

.heading-center {
  text-align: center;
  margin-bottom: 65px;
  color: white;
}

.location_details-2 {
  font-family: Poppins;
  font-size: 32px;
  font-weight: normal;
  list-style: none;
  line-height: 1.6;
  margin-left: -28px;
}
.map-2 {
  margin-top: 80px;
}

.img-mid {
  width: 448px;
}
.img-small {
  height: 143px;
}
.img-small img {
  border-radius: 28px;
}

/* click part 3 */

.click-part-3 h2 {
  margin-bottom: 125px;
}

/* fourth venue */

.fourth-venue .location_details-2 {
  max-width: 830px;
  width: 100%;
}

/* click part 4 */

.click-part-4 figure {
  height: 490px;
}

.click-part-4 figure img {
  border-radius: 28px;
}
/* fifth venue deatils */
/* .fifth-vanue-details{

} */
/* click part 5 */

.click-part-5 figure img {
  border-radius: 28px;
}
.click-part-5 .img-midd {
  height: 375px;
}
.click-part-5 .img-bigger {
  height: 605px;
}
















/* footer */
.footer {
  background: #070417;
  color: #fff;
}
.footer-logo{
  width: 286px;
  height: 120px;
}
.footer h2 {
  font-size: 36px;
  font-family: Montserrat, "SemiBold";
  color: #ffffffe5;
}
.footer p {
  font-size: 16px;
  font-family: Poppins, "Medium";
  color: #e8e7ea;
}
.footer h5{
  font-size: 24px;
   font-family: Montserrat, "SemiBold";
   color: #ffffffe5;
  padding-left: 500px;
}
.footer h6 {
  font-weight: 600;
  font-size: 18px;
  font-family: Montserrat, "Bold";
  background: linear-gradient(#FF52C0,#8EF1F0);
   -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
}
.footer small{
  font-size: 16px;
  color: #FFFFFF;
  margin-left: 500px;
}
.footer a {
  color: #e8e7ea;
  text-decoration: none;
  font-size: 16px;
  font-family: Poppins, "Medium";
}
.footer a:hover {
  color: #FF52C0;
}
.subscribe-input {
  padding: 16px 32px;
  background: transparent;
  border-radius: 16px;
  width: 349px;
}
.subscribe-input::placeholder {
  color: white;
  padding-left: 20px;
}

.subscribe-btn {
  border-radius: 30px;
  padding: 16px 32px;
  background: linear-gradient(90deg, #00c6ff, #0072ff);
  border: none;
  color: #fff;
  font-size: 14px;
   font-family: Poppins, "SemiBold";
}
.social-icons a {
  font-size: 20px;
  margin-right: 12px;
  color: #fff;
}
.footer-bottom {
  border-top: 1px solid #333;
  margin-top: 40px;
  margin-right: 30px;
}
/* footer-end */
@media screen  and (max-width:767px){
   .footer h5{
  padding-left: 50px;
}
.footer small{
  margin-left: 50px;
}
}
/* =====================================================
   LARGE DEVICES (≤ 1400px)
   =====================================================  */
@media (max-width: 1400px) {
  h1 {
    font-size: 76px;
  }
  h2 {
    font-size: 52px;
  }
  h3 {
    font-size: 40px;
  }

  .banner {
    min-height: 100vh;
  }

  .location_details,
  .location_details-2 {
    font-size: 26px;
  }

  .mid-img {
    height: 335px;
  }

  .map,
  .map-2 {
    margin-top: 100px;
  }

  .cl-2-mt {
    margin-top: 58px !important;
  }
}

/* =====================================================
   DESKTOP / LAPTOP (≤ 1200px)
   ===================================================== */
@media (max-width: 1200px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  h3 {
    font-size: 36px;
  }

  .container {
    max-width: 100%;
  }

  .location-left-part figure {
    width: 100%;
  }

  .map-2 iframe {
    width: 650px !important;
  }
  .map iframe {
    width: 650px !important;
  }

 
}

/* mid brake point mx-1100px */

@media (max-width: 1100px) {
  h1 {
    font-size: 56px;
    margin-top: -30px !important;
  }
}

/* =====================================================
   TABLET (≤ 991px)
   ===================================================== */
@media (max-width: 991.98px) {
  h1 {
    font-size: 54px;
    margin-top: -100px !important;
  }
  h2 {
    font-size: 40px;
  }
  h3 {
    font-size: 30px;
  }

  .mid-img {
    height: 310px !important;
  }

  .mt-2-cl-2 {
    margin-top: 20px;
  }
  .section-padding {
    padding: 50px 0;
  }

  /* NAVBAR */
  .navbar-collapse {
    background: #1c002d;
    padding: 20px;
    border-radius: 16px;
  }

  /* VENUE */
  .location-left-part,
  .location-right-part {
    text-align: center;
  }

  .location_details,
  .location_details-2 {
    font-size: 22px;
  }

  .map iframe,
  .map-2 iframe {
    width: 100%;
    height: 300px;
  }

  /* CLICK SECTIONS */
  .click-part-1 h2,
  .heading-center {
    margin-bottom: 60px;
  }

  .mid-img {
    height: 280px;
  }

  .img-mid {
    width: 100%;
  }

  .click-part-4 figure,
  .click-part-5 .img-bigger {
    height: 420px;
  }

  .map-2 iframe {
    width: 600px !important;
  }
  .map iframe {
    width: 600px !important;
  }


}

/* =====================================================
   MOBILE LANDSCAPE (≤ 768px)
   ===================================================== */
@media (max-width: 768px) {
  h1 {
    font-size: 44px;
  }
  h2 {
    font-size: 34px;
  }
  h3 {
    font-size: 26px;
    margin-top: 20px;
  }

  .banner {
    height: 60vh;
    background-size: cover;
  }

  .banner h1 {
    margin-top: 0;
  }

  .location_details {
    text-align: left;
  }

  .img-mid {
    margin-top: 50px;
  }

  .mt-2-cl-3 {
    margin-top: 20px;
  }

  /* CLICK PARTS */
  .click-part-1 figure,
  .click-part-2 figure,
  .click-part-3 figure,
  .click-part-4 figure,
  .click-part-5 figure {
    height: auto;
  }

  .mid-img,
  .img-midd,
  .img-bigger {
    height: auto;
  }
}

/* =====================================================
   MOBILE PORTRAIT (≤ 575px)
   ===================================================== */
@media (max-width: 575px) {
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 28px;
  }
  h3 {
    font-size: 22px;
  }

  .section-padding {
    padding: 40px 0;
  }

  .location_details,
  .location_details-2 {
    font-size: 18px;
  }

  .map-2 iframe {
    width: 400px !important;
  }
  .map iframe {
    width: 400px !important;
  }

  /* CLICK PART SPACING */
  .click-part-1 h2,
  .heading-center {
    margin-bottom: 40px;
  }

  /* FOOTER */
  .subscribe-input {
    width: 100%;
  }


  .subscribe-btn {
    width: 100%;
  }
}

/* =====================================================
   SMALL MOBILE (≤ 425px)
   ===================================================== */
@media (max-width: 425px) {
  h1 {
    font-size: 30px;
  }
  h2 {
    font-size: 24px;
  }

  .banner {
    height: 50vh;
  }

}
